/1-design-patterns-cpp-creational-m1-slides.pdf
/2-design-patterns-cpp-creational-m2-slides.pdf
/3-design-patterns-cpp-creational-m3-slides.pdf
/4-design-patterns-cpp-creational-m4-slides.pdf
/5-design-patterns-cpp-creational-m5-slides.pdf
/CourseTranscript.txt
